<body>

    <header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
      <a href="./"><h1 class="site-title">Project Management Tool</h1></a>

      <nav class="navbar">
        <ul class="navlist">
           <li class="navitem navlink"><a href="./insert">Insert a project</a></li>
          <li class="navitem navlink"><a href="./insertEmployee">Insert a employee</a></li>
          <li class="navitem navlink"><a href="./insertDepartment">Insert a department</a></li>
          <li class="navitem navlink"><a href="./insertClient">Insert a client</a></li>
          <li class="navitem navlink"><a href="./displayTables">Display Employees, Departments, Clients</a></li>
	  

        </ul>
      </nav>
    </header>

    <main>
	
    <h3>Current Employees:</h3>
    <table>
    	<thead>
		<th>ID</th>
		<th>Name</th>
		<th>Manager</th>
		<th>Department</th>
	</thead>
	<tbody>
		{{#each employees}}
		<tr>
			<td>{{ID}}</td>
			<td>{{Name}}</td>
			<td>{{Manager}}</td>
			<td>{{Department}}</td>
		</tr>
		{{/each}}
	</tbody>
    </table>

    <h3>Current Departments:</h3>
    <table>
    	<thead>
		<th>ID</th>
		<th>Name</th>
	</thead>
	<tbody>
		{{#each departments}}
		<tr>
			<td>{{ID}}</td>
			<td>{{Name}}</td>
		</tr>
		{{/each}}
	</tbody>
    </table>

    <h3>Current Clients:</h3>
    <table>
    	<thead>
		<th>ID</th>
		<th>Name</th>
	</thead>
	<tbody>
		{{#each client}}
		<tr>
			<td>{{ID}}</td>
			<td>{{Name}}</td>
		</tr>
		{{/each}}
	</tbody>
    </table>


    </main>

  </body>

</html>
