  <body>

    <header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
      <a href="./"><h1 class="site-title">Project Management Tool</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink"><a href="./insert">Insert a project</a></li>
          <li class="navitem navlink"><a href="./insertEmployee">Insert a employee</a></li>
          <li class="navitem navlink"><a href="./insertDepartment">Insert a department</a></li>
          <li class="navitem navlink"><a href="./insertClient">Insert a client</a></li>
          <li class="navitem navlink"><a href="./displayTables">Display Employees and Departments</a></li>
        </ul>
      </nav>
    </header>

    <main>

    <h3>Current Projects:</h3>

    <form id="filterform" action="/filter" method="get">
    	<select name="project_id" id="project-selector">
		<option value="0">-- select project --</option>
		{{#each all_project}}
			<option value="{{ID}}">{{Name}}</option>
		{{/each}}
	</select><br>
        <input type="submit" value="Filter Projects">
    </form>

    <table>
    	<thead>
		<th>ID</th>
		<th>Name</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Budget</th>
		<th>Client</th>
		<th>Department</th>
		<th>Employee</th>
		<th>Manager</th>
	</thead>
	<tbody>
		{{#each all_project}}
		<tr>
			<td>{{ID}}</td>
			<td>{{Name}}</td>
			<td>{{Start_date}}</td>
			<td>{{Anticipated_end_date}}</td>
			<td>{{Budget}}</td>
			<td>{{Client}}</td>
			<td>{{Department}}</td>
			<td>{{Employee}}</td>
			<td>{{Manager}}</td>
			<td><a href="/update/{{ID}}/{{Employee}}">Update</a></td>
			<td><a href="/delete/{{ID}}/{{Employee}}">Delete Employee</a></td>
		</tr>
		{{/each}}
	</tbody>
    </table>



    </main>

  </body>

</html>
