<h1>Update Programmer for {{project.Name}}:</h1>

	<form id="updateProgrammerform" action="/diagnostic" method="post">
   		Old Programmer: <select name="old_programmer_id" id="old_programmer-selector">
			{{#each old_programmer}}
				<option value="{{ID}}">{{Name}}</option>
			{{/each}}
		</select><br>
		
		Old Programmer's Department: <select name="old_department_id" id="old_department-selector">
			{{#each old_department}}
				<option value="{{ID}}">{{Name}}</option>
			{{/each}}
		</select><br>

		New Programmer: <select name="new_programmer_id" id="new_programmer-selector">
			{{#each new_programmer}}
				<option value="{{ID}}">{{Name}}</option>
			{{/each}}
		</select><br>
	</form>
<button onclick="update_Programmer({{project.ID}})">Update Programmer</button>
