<h1>Update Department for {{project.Name}}:</h1>
	<form id="updateDepartmentform" action="/diagnostic" method="post">
		Old Department: <select name="old_department_id" id="old_department-selector">
			{{#each old_department}}
				<option value="{{ID}}">{{Name}}</option>
			{{/each}}
		</select><br>
		New Department: <select name="new_department_id" id="new_department-selector">
			{{#each new_department}}
				<option value="{{ID}}">{{Name}}</option>
			{{/each}}
		</select><br>
	</form>
<button onclick="update_Department({{project.ID}})">Update Department</button>
