<h1>Update Programmer for {{project.Name}}:</h1>

	<form id="updateProgrammerform" action="/diagnostic" method="post">
   		Project ID: <select name="project_id" id="project-selector">
			{{#each project}}
				<option value="{{project.ID}}">{{project.Name}}</option>
			{{/each}}
		</select><br>
		Old Programmer: <select name="old_programmer_id" id="old_programmer-selector">
			{{#each old_programmer}}
				<option value="{{ID}}">{{Name}}</option>
			{{/each}}
		</select><br>
		New Programmer: <select name="new_programmer_id" id="new_programmer-selector">
			{{#each new_programmer}}
				<option value="{{ID}}">{{Name}}</option>
			{{/each}}
		</select><br>
	</form>
<button onclick="update_Programmer({{project.ID}})">Update Programmer</button>
